{% if errorMessage %}
<div id="setting-error-settings_updated" class="updated settings-error error">
    <p><strong>{{ errorMessage }}</strong></p>
</div>
{%  endif %}
{% if savedInfo %}
<div id="setting-error-settings_updated" class="updated settings-error notice is-dismissible">
    <p><strong>{{ savedInfo }}</strong></p>
    <button type="button" class="notice-dismiss"><span class="screen-reader-text">Dismiss this notice.</span></button>
</div>
{%  endif %}